<app-navbar-photographer></app-navbar-photographer>
<div class="container">
    <div class="container-right">
        @if (!editAll) {
            <button (click)="editAll = !editAll" class="edit-btn">Edit All Information</button>
        }@else {
            <button (click)="editAll = !editAll" class="edit-btn">Edit Availability</button>
        }
        

        <form class="info" [formGroup]="userForm">
            @if (editAll) {
                <div class="name">
                    <label>Full Name</label>
                    <input type="text" formControlName="name" [readonly]="!editAll"/>
                </div>
                <div class="phone">
                    <label>Phone Number</label>
                    <input type="text" maxlength="10" formControlName="phone" [readonly]="!editAll"/>
                </div>
                <div class="city">
                    <label>City</label>
                    <input type="text" formControlName="city" [readonly]="!editAll"/>
                </div>
            }
            <div class="price">
                <label>Price</label>
                <input type="text" formControlName="price" />
            </div>

            <div class="availability" >
                <label>Availability</label>
                <select formControlName="availability">
                    <option value="" disabled selected>Select an option</option>
                    <option value="available">Available</option>
                    <option value="not available">Not Available</option>
                </select>
            </div>
            <div class="btn">
                <button (click)="onSubmit()">Save</button>
            </div>
        </form>
    </div>
</div>