<app-navbar-photographer></app-navbar-photographer>
<div class="container">
    <div class="cart-container ">
        <div class="cart">
            <span class="name">client.name</span>
            <span class="type">reservation.type</span>
            <span class="date">reservation.date</span>
            <span class="phone">reservation.phone</span>
            <button class="accept">Accept</button> <button class="reject">Reject</button>
        </div>
        <div class="cart">
            <span class="name">client.name</span>
            <span class="type">reservation.type</span>
            <span class="date">reservation.date</span>
            <span class="phone">reservation.phone</span>
            <button class="accept">Accept</button> <button class="reject">Reject</button>
        </div>
        <div class="cart">
            <span class="name">client.name</span>
            <span class="type">reservation.type</span>
            <span class="date">reservation.date</span>
            <span class="phone">reservation.phone</span>
            <button class="accept">Accept</button> <button class="reject">Reject</button>
        </div>
        <div class="cart">
            <span class="name">client.name</span>
            <span class="type">reservation.type</span>
            <span class="date">reservation.date</span>
            <span class="phone">reservation.phone</span>
            <button class="accept">Accept</button> <button class="reject">Reject</button>
        </div>
        <div class="cart">
            <span class="name">client.name</span>
            <span class="type">reservation.type</span>
            <span class="date">reservation.date</span>
            <span class="phone">reservation.phone</span>
            <button class="accept">Accept</button> <button class="reject">Reject</button>
        </div>
        
    </div>
</div>