<app-navbar></app-navbar>

<div class="container">
    <form method="post" [formGroup]="userForm">
        <div class="name">
            <label for="name">Full Name</label>
            <input type="text" formControlName="name" #name>
        </div>
        <div class="phone">
            <label for="name">Phone Number</label>
            <input type="text" formControlName="phone" #phone placeholder="+212">
        </div>
        <div class="city">
            <label for="city">City</label>
            <input type="text" formControlName="city" (blur) = "onBlurMethod($event)"  #city required>
        </div>
        <div class="hour">
            <label for="hour">Hour</label>
            <input type="text" formControlName="hour" #hour placeholder="hh : mm">
        </div>
        <div class="date">
            <label for="date">Date</label>
            <input type="date" formControlName="date" #date>
        </div>
        <div class="type">
            <label >Type Of Photography</label>
            <select formControlName="type" >
                <option value="" disabled selected>Select an option</option>
                <option value="Marriage">   Marriage    </option>
                <option value="Montage" >   Montage     </option>
                <option value="Party"   >   Party       </option>
                <option value="Birthday">   Birthday    </option>
            </select>
        </div>
        <div class="type">
            <label >Photographer Name</label>
            <select formControlName="photographer" >
                <option value="" disabled selected>Select an option</option>

            @for (photographer of photographers; track photographer.username) {
                <option [value]="photographer.name">{{photographer.name}}</option>
            }@empty {
                @if(city.value==""){
                    <option value="empty">Write your city's name</option>
                }@else {
                    <option value="empty">There is no photographer in your city</option>
                }
            }

            </select>
        </div>
        
        <div class="btn">
            <button (click)="onSubmit()">Save</button>
        </div>
    </form>
</div>