<app-navbar-ad></app-navbar-ad>
<div class="container">
    <div class="cart-container ">
        <span class="sidebar">List of clients</span>

        <div class="carts">
            <div class="cart-info">
                <span class="name">client.name</span>
                <span class="type">client.phone</span>
                <span class="date">client.email</span>
                <div class="button-container">
                    <button class="accept" (click)="onSuspension()">Suspension</button>
                    <button class="reject" (click)='onDelete()'>Delete</button>
                </div>
            </div>
            <div class="cart-info">
                <span class="name">client.name</span>
                <span class="type">client.phone</span>
                <span class="date">client.email</span>
                <div class="button-container">
                    <button class="accept" (click)="onSuspension()">Suspension</button>
                    <button class="reject" (click)='onDelete()'>Delete</button>
                </div>
            </div>
            <div class="cart-info">
                <span class="name">client.name</span>
                <span class="type">client.phone</span>
                <span class="date">client.email</span>
                <div class="button-container">
                    <button class="accept" (click)="onSuspension()">Suspension</button>
                    <button class="reject" (click)='onDelete()'>Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-container ">
        <span class="sidebar">List of photographers</span>
        <div class="carts">
            <div class="cart-info">
                <span class="name">photographer.name</span>
                <span class="type">photographer.phone</span>
                <span class="date">photographer.email</span>
                <div class="button-container">
                    <button class="accept" (click)="onSuspension()">Suspension</button>
                    <button class="reject" (click)='onDelete()'>Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>