<app-navbar></app-navbar>

<div class="container">
    <div class="search">
        <input type="text" class="search-input" placeholder="Search for a photographer in your city" #cityInput/>
        <button class="search-btn" (click) = "search(cityInput.value)">Search</button>
    </div>
    <div class="results">
        <div class="cart">
            @for (photographer of photographers; track photographer.username) {
                <div class="cart-info">
                    <h3 class="cart-name">{{photographer.name}}</h3>
                    <p class="cart-city">{{photographer.city}}</p>
                    <p class="cart-price">$ {{photographer.price}}</p>
                    @if(photographer.availability.toLowerCase() == "available"){
                        <p class="available">Available</p>
                    }@else{
                        <p class="not-available">Not Available</p>
                    } 
                </div>
            }@empty {
                <div class="text">
                    <h1>
                        {{text}}
                    </h1>
                </div>
            }
            
        </div>
        
    </div>
</div>