@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;

    input {
        all: unset;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.logo {
    font-size: 25px;
    font-weight: 800;
    color: #004FFF;
    margin-left: 50px;
}

.urls {
    display: flex;
    justify-content: space-between;
    font-size: 1.27rem;
    font-weight: 600;
    margin-right: 50px;
    align-items: center;
}

.urls a {
    margin-left: 50px; /* Adjust as needed */
    color: black;
}

.urls a.active {
    color: #004FFF;
}

.logout {
    margin-right: 50px;
    display: flex; /* This makes .logout a flex container */
    align-items: center; /* This vertically centers the flex items */

    .profile {
        color: #fff;
        border: none;
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        border-radius: 15px;
        font-weight: 600;
    }
    
    .lines {
        width: 2rem;
        height: 2rem;
        margin-right: 13px;
    }

    padding: 5px 12px; 
    border-radius: 3.1rem;
    border: 2px solid black;
    cursor: pointer;
}

.logout:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sub-menu-wrap {
     /* Hidden by default */
    position: absolute;
    top: 80px; 
    right: 42.5px; 
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
    width: 7rem;
    padding: 10px;

    img{
        width: 1.4rem;
        height: 1.4rem;
    }

    a{
        color: black;
        font-weight: 500;
        font-size: 0.9rem;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 100%; /* Position the triangle above the .sub-menu-wrap */
        left: 50%; /* Center the triangle horizontally */
        margin-left: -15px;
        border-width: 15px;
        border-style: solid;
        border-color: transparent transparent rgb(255, 255, 255) transparent; 
    }
}

.user-details {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-bottom: 10px;

    border-bottom: 1px solid #f1f1f1;
}

.user-details img {
    margin-right: 10px; 
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.user-details .text-container {
    display: flex;
    text-align: center;
    flex-direction: column; /* Stack spans vertically */
}

.user-details span {
    font-size: 0.9rem;
    font-weight: 600;

    &::first-letter {
        text-transform: uppercase;
    }
}


.others {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px; 
    margin-top: 10px;
    margin-bottom: 8px;
}

.prof, .logout-btn {
    display: flex;
    align-items: center; 
    gap: 5px; 
}

.prof a{
    text-decoration: none; 
    color: #000; 
    font-weight: 600; 
    transition: 0.6ms ease-in-out;
}

.prof img, .logout-btn img {
    width: 24px; 
    height: auto; 
    margin-right: 8px;
}

.logout-btn img {
    margin-left: 3px;
}


.prof a:hover, .logout-btn a:hover {
    font-weight:700;

}

.logout-btn a.out{
    text-decoration: none; 
    font-weight: 600; 
    color:#d00000;
    transition: 0.6ms ease-in-out;

}

.logout-btn a.out:hover{
    font-weight:700;
}
