@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-container > app-cart {
    width: 100%; /* Adjust as needed */
}

@media (min-width: 900px) {
    .cart-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }

    .cart-container > app-cart {
        width: 100%; /* Adjust as needed */
    }
}





.bottom {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}