@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.cart-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

@media (min-width: 600px) {
    .cart-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
}

@media (min-width: 900px) {
    .cart-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
    }
}

.cart-container > app-cart {
    width: 100%; /* Adjust as needed */
}





.bottom {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}